{% extends 'includes/base.html' %}

{% block title %}Documentation enhanced{% endblock %}

{% block main_content %}
<div class="row u-no-padding--left">
  <div class="col-8">
    <h1>Get the Ubuntu SDK</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis dapibus molestie ultricies. Etiam laoreet, dui vel cursus blandit, orci ante mollis ex, et pretium enim justo vitae diam.</p>
    
    <p><img src="http://placehold.it/984x300" alt="" /></p>
    
    <h2>Section heading</h2>
    
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
      <li>Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue</li>
      <li>Duis dapibus molestie ultricies. Etiam laoreet, dui vel cursus blandit</li>
    </ul>
    
    <ol>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
      <li>Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue</li>
      <li>Duis dapibus molestie ultricies. Etiam laoreet, dui vel cursus blandit</li>
    </ol>
    
    <ul class="p-list u-no-padding--left">
      <li class="p-list__item"><a href="#">Link number 1</a></li>
      <li class="p-list__item"><a href="#">Link number 2</a></li>
      <li class="p-list__item"><a href="#">Link number 3</a></li>
    </ul>
                
    <ul class="p-pagination p-inline-list">
      <li class="p-inline-list__item p-pagination__item p-inline-list__item--previous"><a class="p-button--neutral p-pagination__link" href="">&lt; Previous task</a></li>
      <li class="p-inline-list__item p-pagination__item p-inline-list__item--next"><a class="p-button--neutral p-pagination__link" href="">Next task &gt;</a></li>
    </ul>
    
  </div>
</div>
{% endblock main_content %}
