{% extends 'includes/base.html' %}

{% block title %}Summary{% endblock %}

{% block main_content %}
<div class="row u-no-padding--left">
    <div class="col-12">
        <div class="col-9">
            <h1>Summary</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            
            <ul class="p-list u-no-padding--left">
                <li><a class="p-link--external" href="">View the API documentationt</a></li>
                <li><a class="p-link--external" href="">Contribute to this content</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row u-no-padding--left">
    <ul class="grid-list u-clearfix u-no-margin--left u-no-padding--left col-12">
        <li class="col-6 grid-list__item">
            <div class="col-12">
                <h5><a href="#">Desktop&nbsp;&rsaquo;</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>                
        </li>
        <li class="col-6 grid-list__item last-col">
            <div class="col-12">
                <h5><a href="#">Phone&nbsp;&rsaquo;</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>                
        </li>
        <li class="col-6 grid-list__item last-row">
            <div class="col-12">
                <h5><a href="#">Internet of things&nbsp;&rsaquo;</a></h5>
                <p>Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue.</p>  
            </div>              
        </li>
        <li class="col-6 grid-list__item last-row">
            <div class="col-12">
                <h5><a href="#">Server&nbsp;&rsaquo;</a></h5>
                <p>Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue.</p> 
            </div>               
        </li>
    </ul>
</div>

<div class="row row--cards u-no-padding--left">
    <div class="col-8 u-no-margin--left">
        <div class="col-4">
            <h2 class="row--cards__title">Latest news</h2>
            <ul class="p-list">
                <li>
                    <div class="p-card--highlighted">
                        <h3 class="p-card--highlighted__title">Nextcloud Box &mdash; a private cloud and IoT solution for home users</h3>
                        <p class="p-card--highlighted__date">17 November 2016</p>
                        <p class="p-card--highlighted__content">Nextcloud, Canonical and WDLabs, are today launching the Nextcloud Box, a secure, private&hellip;</p>
                        <p class="note p-card--highlighted__source">Ubuntu Insights</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h2 class="row--cards__title">Latest tutorials</h2>
            <ul class="p-list">
                <li>
                    <div class="p-card--highlighted">
                        <h3 class="p-card--highlighted__title">Declare snap interfaces auto-connections for IoT devices</h3>
                        <p class="p-card--highlighted__content">A step-by-step tutorial on how to declare interfaces auto-connections in your gadget snap for a range of devices&hellip;</p>
                        <p class="note p-card--highlighted__source">Ubuntu Core</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock main_content %}
