{% extends 'includes/base.html' %}

{% block title %}Summary{% endblock %}

{% block main_content %}
<div class="row u-no-padding--left">

    <div class="col-12">
        <h1>Summary</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    </div>

</div>


<div class="row u-no-padding--left">

    <div class="col-12">
        <h2 class="col-12">Section heading</h2>
    </div>

</div>


<div class="row u-no-padding--left">

    <ul class="u-clearfix u-no-margin--left u-no-padding--left col-12">
        <li class="col-3">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </li>
        <li class="col-3">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </li>
        <li class="col-3">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </li>
        <li class="col-3">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </li>
    </ul>

</div>
{% endblock main_content %}
