{% extends 'includes/core.html' %}

{% block title %}Tutorial{% endblock %}

{% block main_content %}
<div class="row u-no-padding--left">
    <div class="col-9">
        <h1>Tutorials</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis dapibus molestie ultricies. Etiam laoreet, dui vel cursus blandit, orci ante mollis ex, et pretium enim justo vitae diam.</p>
    </div>
</div>

<div class="row u-no-padding--left">
    <ul class="p-list u-clearfix col-12">
        <li class="col-4 p-list__item">
            <h2>What</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue.</p>
        </li>
        <li class="col-4 p-list__item">
          <h2>How</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue.</p>
        </li>
        <li class="col-4 p-list__item">
          <h2>Where</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue.</p>
        </li>
    </ul>
</div>

<div class="row u-no-padding--left">

    <div class="col-12">
        <h2>Latest tutorials</h2>
        <p><img src="http://placehold.it/984x600?text=CODELABS" alt="" /></p>
    </div>

</div>

{% endblock main_content %}
