canonicalwebteam.get-feeds==0.2.4
Django==1.11.18
dj-static==0.0.6
django-versioned-static-url==0.8
django-static-root-finder==0.3.1
django-asset-server-url==0.1
django-template-finder-view==0.3
django-unslashed==0.3.0
django-yaml-redirects==0.5.4
talisker==0.11.1
gunicorn[gevent]
feedparser==5.2.1
lockfile==0.12.2
markdown==2.6.11
mdx-anchors-away==1.0.1
mdx-callouts==1.0.0
mdx-foldouts==1.0.0
python-dateutil==2.7.5
python-frontmatter==0.4.5
PyYAML==3.13
requests==2.21.0
requests-cache==0.4.13
ubuntudesign.gsa==1.1.0

# Development dependencies
flake8
black

