{% extends base_template %}

{% block inner_content %}

{{ block.super }}

{% if summary_pages %}
    {% page_cards summary_pages %}
{% endif %}

{% if insights_feed %}
    <div class="cards">
        {% with "https://insights.ubuntu.com/feed?tag="|add:insights_feed.tag as feed_url %}
            {% feed_cards feed_url limit=3 %}
        {% endwith %}
    </div>
{% endif %}

{% if tutorial_feed %}
    <div class="cards">
        {% tutorial_cards tutorial_feed %}
    </div>
{% endif %}

{% endblock %}
