{% extends 'includes/base.html' %}

{% block title %}Welcome{% endblock %}

{% block main_content %}
<div class="row u-no-padding--left">
    <h1>Developer</h1>
</div>

<div class="row u-no-padding--left">
    <div class="col-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam risus felis. Etiam porta nibh sit amet urna ornare posuere nec a augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

        <h2>Example pages</h2>
        <ul class="u-no-padding--left">
            <li><a href="/core">Core pages</a></li>
            <li><a href="/examples">Example pages</a></li>
            <li><a href="/template-examples/summary">Summary (Modular)</a></li>
            <li><a href="/template-examples/tutorials">Tutorials (Modular)</a></li>
            <li><a href="/template-examples/documentation">Documentation</a></li>
            <li><a href="/template-examples/documentation-enhanced">Documentation enhanced</a></li>
        </ul>
    </div>
</div>
{% endblock main_content %}
