{% extends 'includes/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="row row-hero no-border search-container">
    <div class="strip-inner-wrapper">
        <h1>Search this site</h1>

        <form action="/search" class="search">
            <label for="search-input" class="search__label">Search</label>
            <input name="q" id="search-input" type="search" value="{{ query }}" placeholder="e.g. juju" class="search__field" />
            <button class="search__submit" type="submit">
                <img class="search__image" src="{{ ASSET_SERVER_URL }}19750a6d-search-black.svg" alt="search" />
            </button>
        </form>

{% if query %}
{% if host_exists %}
{% if request_succeeded %}
{% if parse_succeeded %}
{% if results %}
    <h3>{% if total %}{{ total }} {% endif %}results for "{{query}}"</h3>
    <section id="search-results" class="no-margin-bottom list list-spaced">
        <p class="result-line results-top">Results{% if start or end %} {{ start }} to {{ end }}{% endif %}</p>
{% for result in results %}
        <article class="search-result twelve-col">
            <h3>
                <a href="{{ result.url }}" class="title-main">{{ result.title|safe }}</a>
                <small class="result-url"><a href="{{ result.url }}">{{ result.url }}</a></small>
            </h3>
            <p>{{ result.summary|safe }}</p>
        </article>
{% endfor %}

{% if start or end %}
        <p class="bottom-results-total result-line">Results {{ start }} to {{ end }}</p>
{% endif %}
    </section>
{% else %}
    <h2>Sorry we couldn't find "{{ query }}"</h2>
    <h3>Why not try widening your search? You can do this by:</h3>
    <ul>
        <li>Adding alternative words or phrases</li>
        <li>Using individual words instead of phrases</li>
        <li>Trying a different spelling</li>
    </ul>

    <h2>Still no luck?</h2>

    <ul>
        <li><a href="/">Visit the Ubuntu homepage</a></li>
        <li><a href="/contact-us">Contact us</a></li>
    </ul>
{% endif %} {# results #}

{% if nav_items %}
    <nav class="pagination" id="page-nav">
        <ul class="pagination__forward">
{% for item in nav_items %}
{% if item.direction == 'forward' %}
            <li class="pagination__item"><a href="{{ item.url }}">{{ item.name }}</a></li>
{% endif %}
{% endfor %}
        </ul>

        <ul class="pagination__back">
{% for item in nav_items %}
{% if item.direction == 'back' %}
            <li class="pagination__item"><a href="{{ item.url }}">{{ item.name }}</a></li>
{% endif %}
{% endfor %}
        </ul>
    </nav>
{% endif %} {# nav_items #}

{% else %} {# parse_succeeded false #}
    <label for="search-input" role="error" class="error-notification">
        Failed to parse results. If you have time, please <a href="https://github.com/ubuntudesign/www.ubuntu.com/issues/new">file a bug</a>.
    </label>
{% endif %}
{% else %} {# request_succeeded false #}
    <label for="search-input" role="error" class="error-notification">
        Failed to retrieve search results. If you have time, please <a href="https://github.com/ubuntudesign/www.ubuntu.com/issues/new">file a bug</a>.
    </label>
{% endif %} {# request_succeeded #}
{% else %} {# host_exists false #}
    <label for="search-input" role="error" class="error-notification">
        Search server not available. If you have time, please <a href="https://github.com/ubuntudesign/www.ubuntu.com/issues/new">file a bug</a>.
    </label>
{% endif %} {# host_exists #}

{% endif %} {# query #}
    </div>
</div>
{% endblock main_content %}
