{% get_rss_feed feed_url limit=limit as feed %}

<div class="col-12">
  <h2 class="p-card__group-header">Latest news</h2>

  {% if feed %}
    <div class="row u-equal-height u-no-margin--left u-no-padding--left">
      {% for item in feed %}
        <div class="col-4 p-card--post">
          <header class="p-card__header--insights">
            <h3 class="p-muted-heading">
              {{ item.category }}
            </h3>
          </header>
          <div class="p-card__content">
            <h3 class="p-heading--five">
              <a class="p-card__link" href="{{ item.link }}" title="{{ item.title }}">
                {{ item.title | safe }}
              </a>
            </h3>
            <small><time pubdate datetime="{{ item.updated }}">{{ item.updated_datetime | date:"j F Y" }}</time></small>
            <p>{{ item.description | truncatechars:125 | safe }}</p>
          </div>
          <p class="p-card__footer">Ubuntu Insights</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Feed failed to load. If you have time, please <a href="https://github.com/canonical-websites/developer.ubuntu.com/issues/new">file an issue</a>.</p>
  {% endif %}
</div>
