<form class="p-search-box" style="max-width: 35em" onsubmit="return false">
  <input type="search" id="searchBoards" class="p-search-box__input" name="search" placeholder="Search boards" oninput="filterBoardsList()">
  <button type="reset" class="p-search-box__reset" alt="reset" onclick="prefillInput()" style="margin-right: 0px;"><i class="p-icon--close"></i></button>
  <button type="button" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
</form>
<ul id="boardsList" class="p-list is-split">
  {% for page in pages %}
    <li class="js-list p-list__item">
      <h3>{{ page.title|safe }}</h3>
      {% comment %} Do not display tags on grid items {% endcomment %}
      <p class="board-tags" style="display:none;">{{ page.tags }}</p>
      <ul class="p-list">
        {% for d in page.distributions %}
        <li class="p-list__item is-ticked" style="border-bottom: none">
          {% comment %}
          "d" can be a string (internal link) or a dict (external link)
          for example:

          distributions:
            - Ubuntu Core 16
            - external: Ubuntu Fridge 16.04 LTS
              link: https://install-instructions.com
          {% endcomment %}
          {% if d.external %}
            <a href="{{ d.link }}" class="external"> {{ d.external }}</a>
          {% else %}
            {% comment %}
            Truncate and slugify title into fragment for internal links:
            "Ubuntu Fridge 20.04 LTS" -> "page.path/#ubuntu-fridge"
            {% endcomment %}
            <a href="{{ page.path }}#{{ d|truncatewords:2|slugify }}"> {{ d }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

<script>
window.onload = prefillInput();

/*
Prefills the search input field with the URL fragment
to allow URLs such as /boards#arm64 or /boards#intel
*/
function prefillInput() {
  document.getElementById('searchBoards').value = window.location.hash.substring(1)
  filterBoardsList();
}

/*
Filters the boards list using search input.
Uses title and tags as searchable content.
*/
function filterBoardsList() {
    var input, filter, ul, li, a, i, tags, h3;
    input = document.getElementById('searchBoards');
    filter = input.value.toUpperCase();
    ul = document.getElementById("boardsList");
    li = ul.getElementsByClassName('js-list');
    console.log(li);
    for (i = 0; i < li.length; i++) {
        h3 = li[i].getElementsByTagName("h3")[0].innerText;
        tags = li[i].getElementsByClassName("board-tags")[0].innerText;
        if ((h3 + tags).toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
