<input type="search" id="searchBoards" placeholder="Search boards" oninput="filterBoardsList()">
<ul id="boardsGrid" class="grid-list u-clearfix col-12 u-no-padding--left u-no-margin--left">
    {% for page in pages %}
        <li class="col-6 grid-list__item{% if forloop.last %} last-item{% endif %}">
          <h3>{{ page.title }}</h3>
          <!-- Do not display tags on grid items -->
          <p class="board-tags" style="display:none;">{{ page.tags }}</p>
          <div class="grid-list__description">
            <ul class="p-list--divided">
              {% for d in page.distributions %}
                <li class="p-list__item  is-ticked">
                    {% comment %}
                    "d" can be a string (internal link) or a dict (external link)
                    for example:

                    distributions:
                      - Ubuntu Core 16
                      - external: Ubuntu Fridge 16.04 LTS
                        link: https://install-instructions.com
                    {% endcomment %}
                    {% if d.external %}
                      <a href="{{ d.link }}" class="external"> {{ d.external }}</a>
                    {% else %}
                      {% comment %}
                      Truncate and slugify title into fragment for internal links:
                      "Ubuntu Fridge 20.04 LTS" -> "page.path/#ubuntu-fridge"
                      {% endcomment %}
                      <a href="{{ page.path }}#{{ d|truncatewords:2|slugify }}"> {{ d }}</a>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
    {% endfor %}
</ul>

<script>
window.onload = prefillInput();

/*
Prefills the search input field with the URL fragment
to allow URLs such as /boards#arm64 or /boards#intel
*/
function prefillInput() {
  document.getElementById('searchBoards').value = window.location.hash.substring(1)
  filterBoardsList();
}

/*
Filters the boards list using search input.
Uses title and tags as searchable content.
*/
function filterBoardsList() {
    var input, filter, ul, li, a, i, tags, h3;
    input = document.getElementById('searchBoards');
    filter = input.value.toUpperCase();
    ul = document.getElementById("boardsGrid");
    li = ul.getElementsByClassName('grid-list__item');
    for (i = 0; i < li.length; i++) {
        h3 = li[i].getElementsByTagName("h3")[0].innerText;
        tags = li[i].getElementsByClassName("board-tags")[0].innerText;
        if ((h3 + tags).toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
