<ul id="boardsGrid" class="p-matrix">
  {% for page in pages %}
    <li class="p-matrix__item">
      <div class="p-matrix__content">
        <h3 class="p-matrix__title">{{ page.title|safe }}</h3>
        {% comment %} Do not display tags on grid items {% endcomment %}
        <p class="board-tags" style="display:none;">{{ page.tags }}</p>
        <ul class="p-list">
          {% for d in page.distributions %}
          <li class="p-list__item is-ticked">
            {% comment %}
            "d" can be a string (internal link) or a dict (external link)
            for example:

            distributions:
              - Ubuntu Core 16
              - external: Ubuntu Fridge 16.04 LTS
                link: https://install-instructions.com
            {% endcomment %}
            {% if d.external %}
              <a href="{{ d.link }}" class="external"> {{ d.external }}</a>
            {% else %}
              {% comment %}
              Truncate and slugify title into fragment for internal links:
              "Ubuntu Fridge 20.04 LTS" -> "page.path/#ubuntu-fridge"
              {% endcomment %}
              <a href="{{ page.path }}#{{ d|truncatewords:2|slugify }}"> {{ d }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
  {% endfor %}
</ul>
