<div class="p-strip u-no-padding--bottom">
    <ul class="p-list grid-list u-clearfix col-12 u-no-padding--left u-no-margin--left">
        <li class="col-6 grid-list__item odd">
            <h5 class="grid-list__title"><a href="/core/get-started">Build an embedded device</a></h5>
            <div class="grid-list__description"><p>Use Ubuntu Core to secure and keep your IoT deployments up to date.</p></div>
        </li>
        <li class="col-6 grid-list__item even last-item">
            <h5 class="grid-list__title"><a href="/snapcraft">Package and distribute your&nbsp;code</a></h5>
            <div class="grid-list__description"><p>Use Snapcraft to publish apps to Linux desktop, server, cloud and devices.</p></div>
        </li>
    </ul>
</div>

