    <div class="p-strip">
        <div class="row u-equal-height p-divider u-no-padding--left u-no-padding--right">
            <div class="col-6 p-divider__block">
                <h3>Build an embedded device</h3>
                <p>Use Ubuntu Core to secure and keep your IoT deployments up to date.</p>
            </div>
            <div class="col-6 p-divider__block">
                <h3>Package and distribute your&nbsp;code</h3>
                <p>Use Snapcraft to publish apps to Linux desktop, server, cloud and devices.</p>
            </div>
        </div>
    </div>
