        <div class="p-divider">
            <div class="p-strip">
                <div class="u-equal-height">
                    <div class="col-6 p-divider__block">
                        <h2>Build an embedded device</h2>
                        <p>Use Ubuntu Core to secure and keep your IoT deployments up to date.</p>
                    </div>
                    <div class="col-6 p-divider__block">
                        <h2>Package and distribute your&nbsp;code</h2>
                        <p>Use Snapcraft to publish apps to Linux desktop, server, cloud and devices.</p>
                    </div>
                </div>
            </div>
        </div>
