<header id="navigation" role="banner">
  <div class="p-navigation__banner">
    <div class="row">
      <div class="sidebar__cta u-align--right">
        <ul class="p-inline-list u-no-margin--bottom">
          <li class="p-inline-list__item">
            <i class="p-icon--menu js-mobile-menu-btn" aria-hidden="false"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div id="sidebar" class="sidebar__content u-no-margin--top u-no-padding--bottom u-hide" aria-hidden="true">
  <ul class="p-list sidebar__first-level u-no-margin--top" data-js="sidebar-first-level">
  {% for item in sitemap %}
    {% if item.type == 'back' %}
    <li>
      <a class="sidebar__link" href="{{ item.path }}">
        Back to homepage
      </a>
    </li>
    {% elif item.children %}
    <li>
      <a class="sidebar__link{% for child in item.children %}{% if child.class == 'active' or child.class == 'active-parent' or item.active == True %} is-selected{% endif %}{% endfor %}" href="{{ item.path }}">
        {{ item.title }}<i class="p-icon--plus js-sidenav-button"></i><i class="p-icon--minus js-sidenav-button"></i>
      </a>
      <ul class="sidebar__second-level">
      {% for child in item.children %}
      {% if child.children %}
      <li>
        <a class="sidebar__link{% for grandchild in child.children %}{% if grandchild.class == 'active' or grandchild.class == 'active-parent' or child.active == True %} is-selected{% endif %}{% endfor %}" href="{{ child.path }}">
          {{ child.title }}<i class="p-icon--plus js-sidenav-button"></i><i class="p-icon--minus js-sidenav-button"></i>
        </a>
        <ul class="sidebar__third-level">
          {% for grandchild in child.children %}
          <li>
            <a class="sidebar__link{% if grandchild.class == 'active' or grandchild.class == 'active-parent' %} is-selected{% endif %}" href="{{ grandchild.path }}">
              {{ grandchild.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
        <li>
          <a class="sidebar__link{% if child.class == 'active' or child.class == 'active-parent' %} is-selected{% endif %}" href="{{ child.path }}">
            {{ child.title }}
          </a>
        </li>
      {% endif %}
      {% endfor %}
      </ul>
    </li>
    {% else %}
    <li>
      <a class="sidebar__link{% if item.class == 'active' or item.class == 'active-parent' %} is-selected{% endif %}" href="{{ item.path }}">{{ item.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
