<div class="p-strip">
    <div class="row p-card--featured u-equal-height">
        <div class="col-4 u-vertically-center u-align--center">
            <img src="https://assets.ubuntu.com/v1/31bd2627-logo-raspberry-pi.svg" width="150" alt="" />
        </div>
        <div class="col-8">
            <h2 class="p-card__title">Raspberry Pi</h2>
            <p class="p-card__content">Ubuntu supports the Raspberry Pi 2 and 3.</p>

            <p>Get started with an Ubuntu Server image for a familiar development environment. <br /><a href="https://wiki.ubuntu.com/ARM/RaspberryPi">How to flash Ubuntu on Raspberry Pi</a></p>

            <p>Use Ubuntu Core when you are ready to move to a production environment. <br /><a href="/core/get-started/raspberry-pi-2-3">Flash Ubuntu Core &rsaquo;</a></p>

            <p>Package your applications as snaps for security and easy updates. <br /><a href="/snapcraft">Install and use Snapcraft &rsaquo;</a></p>
        </div>
    </div>
</div>
