<div class="row row-raspberry-pi">
    <div class="p-card">
        <h2 class="p-card__title">Raspberry Pi</h2>
        <p class="p-card__content">Ubuntu supports the Raspberry Pi 2 and 3.</p>
        
        <p>Get started with an Ubuntu Server image for a familiar development environment.</p>
        <p><a href="https://wiki.ubuntu.com/ARM/RaspberryPi">How to flash Ubuntu on Raspberry Pi</a></p>
        
        <p>Use Ubuntu Core when you are ready to move to a production environment.</p>
        <p><a href="/core/get-started/raspberry-pi-2-3">Flash Ubuntu Core</a></p>
        
        <p>Package your applications as snaps for security and easy updates.</p>
        <p><a href="/snapcraft">Install and use Snapcraft</a></p>   
    </div> 
</div>
