<div>
  <div class="col-4 p-card">
    <header class="p-card__header">
      <img style="max-height: 6rem; width:100%;" src="https://assets.ubuntu.com/v1/e4f88585-pictogram_book02.svg" alt="" />
    </header>
    <h3 class="p-card__title">What</h2>
    <p class="p-card__content">Tutorials about Ubuntu Core with concrete projects that you will be able to play with.</p>
  </div>
  <div class="col-4 p-card">
    <header class="p-card__header">
      <img style="max-height: 6rem; width:100%;" src="https://assets.ubuntu.com/v1/a315be15-pictogram_steps.svg" alt="" />
    </header>
    <h3 class="p-card__title">How</h2>
    <p class="p-card__content">Step-by-step tutorials giving you a hands-on experience, ramping up skills progressively.</p>
  </div>
  <div class="col-4 p-card">
    <header class="p-card__header">
      <img style="max-height: 6rem; width:100%;" src="https://assets.ubuntu.com/v1/307b01e7-pictogram_online-offline.svg" alt="" />
    </header>
    <h3 class="p-card__title">Where</h2>
    <p class="p-card__content">Start, resume and finish online. Or use it offline as part of your scheduled training programme.</p>
  </div>
</div>
<a href="https://tutorials.ubuntu.com/">See all Ubuntu Core tutorials</a>
