<div class="row u-no-padding--left">
    <ul class="p-list tutorial-intro u-no-padding--left u-no-margin--left">
        <li class="col-4 p-list__item tutorial-intro__item">
            <img class="tutorial-intro__image" src="https://assets.ubuntu.com/v1/e4f88585-pictogram_book02.svg" alt="" />
            <div>
                <h2 class="tutorial-intro__title">What</h2>
                <p>Tutorials about Ubuntu Core with concrete projects that you will be able to play with.</p>
            </div>
        </li>
        <li class="col-4 p-list__item tutorial-intro__item">
            <img class="tutorial-intro__image" src="https://assets.ubuntu.com/v1/a315be15-pictogram_steps.svg" alt="" />
            <div>
                <h2 class="tutorial-intro__title">How</h2>
                <p>Step-by-step tutorials giving you a hands-on experience, ramping up skills progressively.</p>
            </div>
        </li>
        <li class="col-4 p-list__item tutorial-intro__item">
            <img class="tutorial-intro__image" src="https://assets.ubuntu.com/v1/307b01e7-pictogram_online-offline.svg" alt="" />
            <div>
                <h2 class="tutorial-intro__title">Where</h2>
                <p>Start, resume and finish online. Or use it offline as part of your scheduled training programme.</p>
            </div>
        </li>
    </ul>
    <p><a href="https://tutorials.ubuntu.com/">See all Ubuntu Core tutorials</a></p>
</div>
