<div class="row u-no-padding--left">
    <ul class="p-list u-clearfix col-12 tutorial-intro">
        <li class="col-4 p-list__item tutorial-intro__item">
            <img class="tutorial-intro__image" src="https://assets.ubuntu.com/v1/e4f88585-pictogram_book02.svg" alt="" />
            <div>
                <h3 class="u-caps">What</h3>
                <p>Tutorials about Ubuntu Core with concrete projects that you will be able to play with.</p>
            </div>
        </li>
        <li class="col-4 p-list__item tutorial-intro__item">
            <img class="tutorial-intro__image" src="https://assets.ubuntu.com/v1/a315be15-pictogram_steps.svg" alt="" />
            <div>
                <h3 class="u-caps">How</h3>
                <p>Step-by-step tutorials giving you a hands-on experience, ramping up skills progressively.</p>
            </div>
        </li>
        <li class="col-4 p-list__item tutorial-intro__item">
            <img class="tutorial-intro__image" src="https://assets.ubuntu.com/v1/307b01e7-pictogram_online-offline.svg" alt="" />
            <div>
                <h3 class="u-caps">Where</h3>
                <p>Start, resume and finish online. Or use it offline as part of your scheduled training programme.</p>
            </div>
        </li>
    </ul>
</div>
