$site-max-width: auto;
$breakpoint-cards: 1000px;
$breakpoint-medium: 790px;
$breakpoint-search: 982px;
$button-width: 10px;
$navigation-width: 256px;
$color-translucent-black: rgba(0, 0, 0, .1);
$color-brand: #e95420;
$color-header-search-background: #ebebeb;
$color-header-search-field-background: #c34113;
$color-navigation-toggle-hover: $color-translucent-black;
$color-search-result-border: #cdcdcd;
$color-search-result-url: #888;
$color-tutorial-card-header-font: #fff;
$color-tutorial-card-meta-font: #666;
$asset-server-url: 'https://assets.ubuntu.com/v1/';
