
/// Ubuntu orange
$ubuntu-orange:     #e95420;

/// mid grey
$mid-grey:          #cdcdcd;

/// light grey
$light-grey:        #f7f7f7;

/// white
$white:             #fff;

/// warm grey
$warm-grey:         #888;

/// light mid grey
$light-mid-grey:    #d4d4d4;

/// cool grey
$cool-grey:         #333;
