.banner {

  .p-navigation__toggle--open {
    background-image: url('#{$asset-server-url}4447809f-navigation-menu-plain.svg');
  }

  .logo {
    height: 48px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;

    .docs & {
      margin-left: 20px;
    }

    @media only screen and (min-width: 1060px) {
      margin-left: 0;
    }

    @media only screen and (min-width: $breakpoint-medium) {
      height: 51px;
    }

    img {
      display: block;
      height: 28px;
    }
  }
}
