.banner {
  max-width: $site-max-width;

  .p-navigation__toggle--open {
    background-image: url("https://assets.ubuntu.com/v1/4447809f-navigation-menu-plain.svg");
  }

  .logo {
    height: 48px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;

    .docs & {
      margin-left: 20px;
    }

    @media only screen and (min-width: 1060px) {
      margin-left: 0;
    }

    @media only screen and (min-width: $breakpoint-medium) {
      height: 51px;
    }

    img {
      height: 28px;
      display: block;
    }
  }

  .nav-primary {
    ul {
      float: right;
    }

    ul li a,
    ul li a:link,
    ul li a:visited {
      border: 0;
    }

    @media only screen and (min-width: calc($site-max-width + 2rem)) {
      padding: 0;
    }

    .docs & {
      max-width: 100%;
      padding: 0;
    }

    ul {
      float: right;

      li {
        @media only screen and (min-width: 620px) {
          border-bottom: 3px solid transparent;

          &.active {
            border-bottom: 3px solid #e95420;
          }

          &:hover {
            background-color: #e3e3e3 !important;
          }
        }
        a, a:link, a:link:hover {
          background-color: transparent;
        }
        a.external, a.external:link, a.external:link:hover {
          color: $cool-grey;
          background-image: url('https://assets.ubuntu.com/v1/7d47725b-external-link.svg');
          background-position: right 1rem top 1rem;
          background-size: 7px 7px;
          background-repeat: no-repeat;
          background-color: transparent;
          padding-right: 2rem;
        }
      }

      li:last-child {
        border-right: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;

        .docs & {
          border-right: 0;
          padding-right: 0;
        }
      }
    }
  }
 }
