.banner .nav-primary {
	overflow:hidden;
	margin:0 auto;
	border:0;
}

@media only screen and (min-width: 1024px) {
	.banner .nav-primary {
		max-width:984px;
	}
}

.banner .nav-primary span {
	display:none;
}

.banner .nav-primary ul {
	display:none;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	border-top:1px solid #ccc;
	box-shadow:inset 0 -1px 0 #ccc;
	background-color:#ebebeb;
}

@media only screen and (min-width: 1024px) {
	.banner .nav-primary ul {
		position:static;
		display:block;
		width:auto;
		border-top:0;
		background-color:transparent;
		box-shadow:none;
	}
}

.banner .nav-primary ul li {
	float:left;
	width:50%;
	margin:0;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:transparent;
}

@media only screen and (min-width: 1024px) {
	.banner .nav-primary ul li {
		width:auto;
		border-right:0;
		border-bottom:0;
		border-left:1px solid #cc4414;
	}
	
	.banner .nav-primary ul li:last-child {
		border-right:1px solid #cc4414;
	}
	
	.banner .nav-primary ul li:last-child a {
		border-right:0;
	}
}

@media only screen and (max-width: 1024px) {
	.banner .nav-primary ul li:nth-child(2n+2) {
		border-right:0;
	}
}

.banner .nav-primary ul li a,
.banner .nav-primary ul li a:link,
.banner .nav-primary ul li a:visited {
	font-size:1em;
	font-weight:300;
	position:relative;
	display:block;
	margin-bottom:0;
	padding:8px 10px;
	text-align:left;
	text-decoration:none;
	background-color:#ebebeb;
	font-smoothing:subpixel-antialiased;
	color:#333;
}

@media only screen and (min-width: 1024px) {
	.banner .nav-primary ul li a,
	.banner .nav-primary ul li a:link,
	.banner .nav-primary ul li a:visited {
		font-size:.875em;
		padding:14px 14px 13px;
		text-align:center;
		border-left:1px solid #ee7f58;
		background-color:transparent;
		color:#fff;
	}
}

.banner .nav-primary ul li a:hover,
.banner .nav-primary ul li a:link:hover,
.banner .nav-primary ul li a:visited:hover {
	background:#f2f2f2;
}

@media only screen and (min-width: 1024px) {
	.banner .nav-primary ul li a:hover,
	.banner .nav-primary ul li a:link:hover,
	.banner .nav-primary ul li a:visited:hover {
		background-color:#ed7045;
	}
}

.banner .nav-primary ul li a.active,
.banner .nav-primary ul li a:link.active,
.banner .nav-primary ul li a:visited.active {
	background-color:#ddd;
}

@media only screen and (min-width: 1024px) {
	.banner .nav-primary ul li a.active,
	.banner .nav-primary ul li a:link.active,
	.banner .nav-primary ul li a:visited.active {
		background-color:#cc4414;
		border-left:0;
	}
}

.banner .nav-toggle {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:48px;
	height:48px;
	cursor:pointer;
	text-indent:-99999px;
	background-image:url(https://assets.ubuntu.com/v1/12387180-navigation-menu-plain.svg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:25px auto;
}

@media only screen and (min-width: 1024px) {
	.banner .nav-toggle {
		display:none;
	}
}

.banner .nav-toggle .nav-toggle__link {
	width:48px;
	height:48px;
}

.banner .nav-toggle .nav-toggle__link.open {
	display:block;
}

.banner .nav-toggle .nav-toggle__link.close {
	display:none;
}

@media only screen and (max-width: 1024px) {
	.banner #nav:hover ul {
		display:block;
	}
	
	.banner #nav:hover ul ul {
		display:none;
	}
	
	.banner #nav:hover .nav-toggle .nav-toggle__link.open {
		display:none;
	}
	
	.banner #nav:hover .nav-toggle .nav-toggle__link.close {
		display:block;
	}
}

.nav-secondary .second-level-nav,.nav-secondary .third-level-nav {
	display:none;
	overflow:hidden;
	width:100%;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #d2d2d2;
}

@media only screen and (min-width: 1024px) {
	.nav-secondary .second-level-nav,.nav-secondary .third-level-nav {
		display:inline;
		float:none;
		margin-bottom:0;
		padding:0;
		width:auto;
		border-bottom:0;
	}
}

.nav-secondary .second-level-nav li,.nav-secondary .third-level-nav li {
	margin:0;
}

@media only screen and (min-width: 1024px) {
	.nav-secondary .second-level-nav li,.nav-secondary .third-level-nav li {
		float:none;
		width:auto;
	}
}

.nav-secondary .second-level-nav li a,.nav-secondary .third-level-nav li a {
	font-size:.875em;
	display:block;
	width:100%;
	height:100%;
	padding:10px;
	color:#333;
}

@media only screen and (max-width: 1024px) {
	.nav-secondary .second-level-nav li a.active,.nav-secondary .third-level-nav li a.active {
		font-weight:500;
	}
}

@media only screen and (min-width: 1024px) {
	.nav-secondary .second-level-nav li a,.nav-secondary .third-level-nav li a {
		padding:8px 10px 0;
	}
	
	.nav-secondary .second-level-nav li a.active,.nav-secondary .third-level-nav li a.active {
		color:#e95420;
	}
}

@media only screen and (min-width: 1024px) {
	.nav-secondary .second-level-nav li {
		width:auto;
	}
	
	.nav-secondary .second-level-nav li .active,.nav-secondary .second-level-nav li .breadcrumb-link--second-level {
		color:#888;
	}
	
	.nav-secondary .second-level-nav li .third-level-nav li a {
		color:#333;
	}
	
	.nav-secondary .second-level-nav li .third-level-nav li a:hover {
		color:#e95420;
	}
	
	.nav-secondary .second-level-nav li .third-level-nav li .active {
		color:#e95420;
		float:none;
	}
	
	.nav-secondary .second-level-nav li .third-level-nav li .active:after {
		content:'';
	}
}

@media only screen and (min-width: 985px) {
	.banner {
		margin-bottom:30px;
	}
}

.banner .nav-primary ul {
	border:0;
}

.banner .nav-primary ul li {
	border-left-color:#df4a16;
}

.banner .nav-primary ul li ul {
	box-shadow:0 2px 2px -1px #888;
	border-radius:10px;
	background:#f7f7f7;
	border:1px solid #cdcdcd;
	display:none;
	float:none;
	margin:0;
	padding:5px 0 20px;
	position:absolute;
	top:51px;
	width:200px;
}

.banner .nav-primary ul li a,.banner .nav-primary ul li a:link,.banner .nav-primary ul li a:visited,.banner .nav-primary ul li a.active:link,.banner .nav-primary ul li a.active:visited {
	font-weight:400;
}

@media only screen and (min-width: 768px) {
	.banner .nav-primary ul li a,.banner .nav-primary ul li a:link,.banner .nav-primary ul li a:visited,.banner .nav-primary ul li a.active:link,.banner .nav-primary ul li a.active:visited {
		border-left:1px solid #eb6233;
	}
}

.banner .nav-primary ul li a:hover,.banner .nav-primary ul li a:link:hover,.banner .nav-primary ul li a:visited:hover,.banner .nav-primary ul li a.active:link:hover,.banner .nav-primary ul li a.active:visited:hover {
	background:#ec693c;
	box-shadow:none;
	color:#fff;
}

@media only screen and (min-width: 1024px) {
	.banner .nav-primary ul ul {
		display:none;
	}
}

.banner .nav-primary ul ul li {
	border:0;
}

.banner .nav-primary ul ul li:last-child {
	border:0;
}

.banner .nav-primary ul li ul li a,.banner .nav-primary ul li ul li a:link,.banner .nav-primary ul li ul li a:visited {
	color:#333;
	border:0;
	padding:10px 0 0 14px;
	font-weight:400;
	text-align:left;
	width:186px;
}

.banner .nav-primary ul .second-level-nav li a:link:hover,.banner .nav-primary ul .second-level-nav li a:visited:hover {
	background:none;
	color:#e95420;
}

.banner .nav-primary ul .second-level-nav .active:link,.banner .nav-primary ul .second-level-nav .active:visited,.banner .nav-primary ul .second-level-nav .active:link:hover,.banner .nav-primary ul .second-level-nav .active:visited:hover {
	background:none;
	border:0;
	color:#333;
}

.banner .nav-primary ul li:hover ul::after {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAICAYAAAD5nd/tAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYODgYVPPJJpQAAAT9JREFUKM+dkD9IAnEUx7+/IkVxFaxoKYxIWhqKwJw0JAJ315Yac8+1tUFo6HCp34XRdRp11z+J4BzckqShPzdEQ5G/EhPO6V5Tcg3G0QcePHjvffjygB4oXAIApFMxyPlcWM7nwulU7NfMNQqXGABsZNcCCpcKtapBtapBCpcK2fXlAAAcy3vMlUxTdgEAO9ubybPiPjWFoE6nQ5ZlUfNDULl0RAdSPuncddL30+gnCgOAlngLaocyn4nG9fmFJXj9fhARAMDr82MuEcfk7LSuFQu8DTvovO1SuTxlAKCqPFO5Ov/6FIIsy/qzROOdrst6S1V5xunomo0LrT4yOh4JDg6BMXfvIdvGs/mExutLPZpYnAIAdmNUVuwBbI1NRODxePEf2u0WHu9u4ev3rTLTfKBQaNh1qp5piWCa9/gGBheo3r6AmYcAAAAASUVORK5CYII=) no-repeat;
	content:'';
	display:block;
	height:8px;
	left:20px;
	position:relative;
	top:-13px;
	width:200px;
	z-index:999;
}

.banner .nav-primary ul li:hover ul {
	display:block;
}

@media only screen and (min-width: 985px) {
	.banner .logo {
		margin-left:0;
	}
}


