// Override global nav styling
@mixin developer-p-global-nav {

  // global nav overrides
  .global-nav {
    padding-left: 1rem;
    // left align the nav
    &__wrapper {
      margin: 0;
    }

    &__list {
      margin-top: 0;
    }

    ol, ul {
      padding-left: 0;
    }
  }
}
