@mixin developer-p-navigation {
  .p-navigation {
    @include vf-navigation-pattern(
      $background-color: $color-brand,
      $border-color: $color-brand,
      $text-color: $color-x-light
    );

    // XXX Caleb 05/02/2018 Custom styling for nav link to snapcraft
    .p-navigation__links .p-navigation__link,
    .p-navigation__logo .p-navigation__link {
      border-left: 0;

      > a:hover {
        text-decoration: underline;
      }
    }
  }

  // XXX Caleb 05/02/2018: Custom styling for sidenav so that it works with sitemap setup
  .sidebar-col {
    border-right: 0;
    min-width: 18rem;
    padding: 1rem 1rem 0 1rem;
    width: 100%;

    @media only screen and (min-width: $breakpoint-navigation-threshold) {
      border-right: 1px solid $color-mid-light;
      padding: 1rem;
      width: auto;
    }
  }

  .p-navigation--sidebar {
    & .sidebar__content {
      position: inherit;
      top: 0;
    }

    & .sidebar__link {
      margin-top: 0;

      & .p-icon--minus,
      & .p-icon--plus {
        background-size: 1rem;
        padding: 1.25rem;
        right: 0;
        top: 0;
      }
    }

    & .sidebar__third-level {
      background: inherit;
      margin-top: 0;
      max-width: 18rem;
    }

    & .p-icon--menu,
    & .p-icon--close {
      background-size: 1rem;
      padding: 1.25rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
