.search-result {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 1.5em;
}

.result-url {
  color: #888;
  display: block;
}

.pagination {
  &__forward {
    float: right;
    margin: 0;
    padding: 0;
  }

  &__back {
    float: left;
    margin: 0;
    padding: 0;
  }

  &__item {
    float: left;
    padding: 0 .5rem;

    &:last-child {
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

.search {
  height: 48px;
  margin-bottom: 1.5rem;

  &__label {
    display: none;
  }

  &__field,
  input.search__field[type='search'] {
    box-shadow: none;
    float: left;
    margin: 0;
    padding-right: 48px;
  }

  &__submit {
    border: 0;
    float: left;
    line-height: 0;
    margin: 1px 1px 1px -46px;
    padding: 7px;
    width: auto;
  }

  &__image {
    height: 30px;
  }
}

.header-search {
  background-color: #ebebeb;
  display: none;
  overflow: hidden;
  padding: 6px;
  width: 100%;

  @media (min-width: $breakpoint-search) {
    background-color: transparent;
    border-top: 1px solid darken($color-brand, 6%);
  }

  .no-js & {
    display: block;
  }

  @media (min-width: 982px) {
    border: 0;
    display: block;
    float: left;
    height: 46px;
    padding-left: 14px;
    width: auto;
  }

  &__toggle {
    background-color: transparent;
    border: 0;
    float: right;
    line-height: 0;
    padding: 9px;
    width: auto;

    @media (min-width: $breakpoint-search) {
      display: none;
    }

    .no-js & {
      display: none;
    }

    &:focus {
      background: none;
    }

    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }

  &__submit {
    background: none;
    border: 0;
    float: left;
    line-height: 0;
    margin-bottom: 0;
    margin-left: -40px;
    padding: 3px 2px;
    width: 40px;
  }

  &__label {
    display: none;
  }

  &__field,
  input.header-search__field[type='search'] {
    background-color: #ebebeb;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    float: left;
    height: 34px;
    margin-bottom: 0;
    padding: 8px 40px 8px 10px;
    padding-right: 40px;
    width: 100%;

    @media (min-width: $breakpoint-search) {
      background-color: #c34113;
      border-bottom: 0;
      color: #FFF;
    }
  }

  &__image,
  &__image--small-screen,
  &__image--large-screen {
    height: 28px;
  }

  &__image--large-screen {
    display: none;

    @media (min-width: $breakpoint-search) {
      display: block;
    }
  }

  &__image--small-screen {
    @media (min-width: $breakpoint-search) {
      display: none;
    }
  }
}
