.search-result {
  border-bottom: 1px solid $color-search-result-border;
  margin-bottom: 1.5em;
}

.result-url {
  color: $color-search-result-url;
  display: block;
}

.pagination {
  &__forward {
    float: right;
    margin: 0;
    padding: 0;
  }

  &__back {
    float: left;
    margin: 0;
    padding: 0;
  }

  &__item {
    float: left;
    padding: 0 .5rem;

    &:last-child {
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

.search {
  height: 48px;
  margin-bottom: 1.5rem;

  &__label {
    display: none;
  }

  &__field,
  .search__field {
    box-shadow: none;
    float: left;
    margin: 0;
    padding-right: 48px;
  }

  &__submit {
    border: 0;
    float: left;
    line-height: 0;
    margin: 1px 1px 1px -46px;
    padding: 7px;
    width: auto;
  }

  &__image {
    height: 30px;
  }
}

.header-search {
  background-color: $color-header-search-background;
  display: none;
  overflow: hidden;
  padding: 6px;
  width: 100%;

  @media only screen and (min-width: $breakpoint-medium) {
    padding: 10px 6px 10px;
  }

  .no-js & {
    display: block;
  }

  @media (min-width: $breakpoint-search) {
    background-color: transparent;
    border: 0;
    display: inline-block;
    float: right;
    height: 46px;
    padding-left: 14px;
    width: auto;
  }

  input {

    &:focus {
      color: $color-dark;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color-dark;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $color-dark;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $color-dark;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $color-dark;
    }

    @media (min-width: $breakpoint-medium) {

      &:focus {
        color: $color-x-light;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-x-light;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: $color-x-light;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: $color-x-light;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $color-x-light;
      }

    }
  }

  &__toggle {
    background-color: transparent;
    border: 0;
    float: right;
    line-height: 0;
    padding: 9px;
    width: auto;

    @media (min-width: $breakpoint-search) {
      display: none;
    }

    .no-js & {
      display: none;
    }

    &:focus {
      background: none;
    }

    &:hover {
      background: $color-translucent-black;
    }
  }

  &__submit {
    background: none;
    border: 0;
    float: left;
    line-height: 0;
    margin-bottom: 0;
    margin-left: -40px;
    padding: 3px 2px;
    width: 40px;

    &:hover {
      background: none;
    }
  }

  &__label {
    display: none;
  }

  &__field,
  .header-search__field {
    background-color: $color-header-search-background;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    float: left;
    height: 34px;
    margin-bottom: 0;
    padding: 8px 40px 8px 10px;
    padding-right: 40px;
    width: 100%;

    @media (min-width: $breakpoint-search) {
      background-color: $color-header-search-field-background;
      border-bottom: 0;
      color: $color-x-light;
    }
  }

  &__image,
  &__image--small-screen,
  &__image--large-screen {
    height: 28px;
  }

  &__image--large-screen {
    display: none;

    @media (min-width: $breakpoint-search) {
      display: block;
    }
  }

  &__image--small-screen {
    @media (min-width: $breakpoint-search) {
      display: none;
    }
  }
}
