@charset "utf-8";

// import global settings
@import 'global-settings';

// import vanilla themes
@import 'docs-vanilla-theme/scss/theme';
@include docs-vanilla-theme;

@import
  'sidebar-nav',
  'helpers';

body {
  background: #f7f7f7; // temporary style
}

.theme__wrap,
.p-footer__inner {
  margin: 0 auto;
  
  @media only screen and (min-width: $breakpoint-large) {
    width: 1024px;
  }
}

.theme__wrap {
  @media only screen and (min-width: $breakpoint-large) {
    @include rounded_corners(4px);
    box-shadow: 0 0 3px #c9c9c9;
    margin-bottom: 30px !important;
  } 
  background: #fff;
  clear: both;
}

.p-navigation__inner {
  @media only screen and (min-width: $breakpoint-large) {
    margin: 0 auto;
    width: 1024px;
  }
}

a,
a:link,
a:visited {
  border-bottom-color: transparent;
  color: $color-brand;
}

a:hover,
a:visited:hover,
a:link:hover {
  border-bottom-color: currentcolor;
}

.theme__main {
  border-color: $color-mid-light;
  padding-top: 0;
}

.theme {
  .p-navigation {
    background: $color-brand;
    border-bottom: 0;
    color: #fff;
    padding: 0;

    @media only screen and (min-width: $breakpoint-large) {
      margin-bottom: 30px; // temporary style
    }
  }
  
  .p-navigation__links {
    padding: 0;
  }
  
  .p-navigation .p-navigation__link,
  .p-navigation .p-navigation__link:visited,
  .p-navigation .p-navigation__link:link {    
    font-weight: bold;
    font-size: .875rem;
    padding: 13px 14px;
    position: relative;
    
    @media only screen and (min-width: $breakpoint-medium) {
      border-left: 1px solid darken($color-brand, 6%);
      color: #fff;
    }
    
    overflow: hidden;
  }
  
  .p-navigation__links .p-navigation__link:last-of-type { 
    border-right: 0;  
  }
  
  .p-navigation__link.p-navigation__link:before {
    background: lighten($color-brand, 12%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 1px;
  }
        
  .p-navigation .p-navigation__logo {
    border: 0;
    padding-top: 6px;
    padding-right: 5px;
    
    .p-navigation__link {
      color: #fff;
      font-size: 1.4375rem;
      font-weight: normal;
      padding: 0;
      border: 0;
      
      &:before {
        width: 0;
      }
    }
  }
  
  .p-navigation .p-navigation__logo .p-navigation__link:hover {
    background: none;
    text-decoration: none;
  }
  
  .p-navigation .p-navigation__link:hover {
    background: lighten($color-brand, 6%);
    text-decoration: none;
  }
}

.theme__inner {
  margin: 0 auto;
}

.theme__aside {
  padding-top: 0;
  margin-top: -.5rem;
}

.p-sidebar-nav__back-link {
  border: none;
  font-size: 1.25rem;
}

.theme > .p-footer {
  border-color: $color-mid-light;
}

.p-inline-list--tags {
  margin-top: -1em;

  &__link {
    color: $color-dark !important;
    
    &:link,
    &:visited {
      color: $color-dark;    
      text-decoration: none;
    }

    &:hover {
      //color: $color-brand !important;
    }
  }
  
  &__item {
    color: $color-mid-light;
    
    &:after {
      content: ", ";
    }
    
    &:last-child::after {
      content: " ";
    }
  }
}

.p-toc {
  border-left-color: $color-mid-light;  
  padding-top: .75rem;
  
  &__header {
    color: $color-dark;
  }
  
  &__item {
    margin-bottom: .5rem;
  }
  
  &__link,
  &__link:visited,
  &__link:link {
    color: $color-mid-dark;
  }
}

// pagination
.p-inline-list__item--next {
  @media only screen and (min-width: $breakpoint-medium) {
    float: right;
  }
}
 
.p-pagination__link {
  
  &:link,
  &:visited {
    border: 1px solid $color-dark;
    
    &:hover {
      //border: 1px solid currentcolor;
    }
  }
}

// cards
.row--cards {
  &__title {
    color: $color-dark;
    font-size: 1rem;
    margin-bottom: .75rem;
    text-transform: uppercase; 
    background: rgba(0, 0, 0, 0) url("https://assets.ubuntu.com/v1/e1bba201-external-link-cool-grey.svg") no-repeat scroll left center / 16px auto;
    padding-left: 22px;
  }
  
  .p-card--highlighted {
    min-height: 21.5em;
    //padding-bottom: 2em;
    
    &__title {
      font-size: 1.3125rem;
    }
    
    &__source {
      color: $color-dark;
      text-transform: uppercase; 
      margin-bottom: 0;
    }

    &__date {
      color: $color-dark;
      margin-top: -1rem;
    }
  }
}
