@charset 'utf-8';

// Settings
@import
'settings';

// Import vanilla theme
@import 'vanilla-framework/scss/build';
@include vanilla;

// Vendors
@import
'../components/canonical-global-nav/src/sass/main';

// Patterns
@import
'patterns_cards',
'patterns_global-nav',
'patterns_matrix',
'patterns_navigation';

@include developer-p-card;
@include developer-p-global-nav;
@include developer-p-matrix;
@include developer-p-navigation;

// Wrapper components for docs layout
.p-layout {
  &__wrap {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    @media only screen and (min-width: $breakpoint-navigation-threshold) {
      flex-direction: row;
    }
  }

  &__main {
    padding: 0 1rem 1rem 1rem;

    @media only screen and (min-width: $breakpoint-navigation-threshold) {
      padding: 2rem;
    }
  }
}
