{% load versioned_static %}

<!doctype html>
<html>
<head>

<title>{% block title %}{% endblock %} | Developer</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://assets.ubuntu.com/v1/3361409d-apple-touch-icon-144x144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://assets.ubuntu.com/v1/5fe4d3c8-apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://assets.ubuntu.com/v1/09460d9a-apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="https://assets.ubuntu.com/v1/cc66da65-apple-touch-icon-precomposed.png" />

<link rel="stylesheet" href="{% versioned_static 'css/global.css' %} />

</head>

<body class="theme">

{% include './base/header.html' %}

<div class="row">
  <div class="theme__wrap">

    <div class="col-3 theme__sidebar">
        {% include './base/sidebar.html' %}
    </div>

    <div class="col-12 theme__main">
      <main id="main-content" class="theme__inner">
          {% block main_content %}{% endblock %}
      </main>
    </div>
  </div>
</div>

{% include './base/footer.html' %}

{% include './base/scripts_footer.html' %}

</body>
</html>
