{% load versioned_static %}

<!doctype html>
<html class="no-js">
<head>

<title>{% block title %}{% endblock %} | Developer</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" type="image/png" href="{{ ASSET_SERVER_URL }}cb22ba5d-favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ ASSET_SERVER_URL }}49a1a858-favicon-32x32.png" sizes="32x32" />

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ ASSET_SERVER_URL }}3361409d-apple-touch-icon-144x144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ ASSET_SERVER_URL }}5fe4d3c8-apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ ASSET_SERVER_URL }}09460d9a-apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="{{ ASSET_SERVER_URL }}cc66da65-apple-touch-icon-precomposed.png" />

<link rel="stylesheet" href="{% versioned_static 'css/global.css' %}" />

<script src="https://assets.ubuntu.com/v1/b0601acd-modernizr.2.7.1.js"></script>

<!-- global nav -->
<script>if (typeof ubuntu === 'undefined') { var ubuntu = {}; }</script>
<script src="{% versioned_static 'components/canonical-global-nav/build/js/global.js' %}"></script>
<script>ubuntu.globalNav.setup();</script>

<!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K9KCMZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>if(window.location.href.indexOf("cn.developer.ubuntu.com") == -1){
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K9KCMZ');
    }</script>
<!-- End Google Tag Manager -->

<!-- Polyfills -->
<script>
  /* Polyfill functions
   * =================== */

  /**
   * Array.prototype.forEach polyfill
   * from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach
   */
  if (!Array.prototype.forEach) {
    Array.prototype.forEach = function(fun) {
      if (
        this === void 0
        || this === null
        || typeof fun !== "function"
      ) { throw new TypeError(); }

      var t = Object(this);
      var len = t.length >>> 0;

      var thisArg = arguments.length >= 2 ? arguments[1] : void 0;
      for (var i = 0; i < len; i++) {
        if (i in t) {
          fun.call(thisArg, t[i], i, t);
        }
      }
    };
  }

  /**
   * Add Array methods to NodeList
   */
  Object.getOwnPropertyNames(Array.prototype).forEach(
    function (methodName) {
      if(!(methodName in NodeList.prototype)) {
      NodeList.prototype[methodName] = Array.prototype[methodName];
      }
    }
  );
</script>

</head>

<body class="theme">

{% include './base/header.html' %}

<div class="p-layout__wrap">
    <div class="col-3 p-layout__sidebar">
      {% include './base/sidebar.html' %}
    </div>
    {% block content %}{% endblock %}
</div>

{% include './base/footer.html' %}

{% include './base/scripts_footer.html' %}

</body>
</html>
