<nav class="p-sidebar-nav">
    <ul class="p-sidebar-nav__list">
        <li><a href="#">Native apps</a></li>
        <li><a href="#">Get started</a>
            <ul>
                <li class="p-sidebar-nav__group"><a class="p-sidebar-nav__link" href="#">Link 1</a></li>
                <li class="p-sidebar-nav__group"><a class="p-sidebar-nav__link" href="#">Link 2</a></li>
                <li class="p-sidebar-nav__group"><a class="p-sidebar-nav__link" href="#">Link 3</a></li>
                <li class="p-sidebar-nav__group"><a class="p-sidebar-nav__link" href="#">Link 4</a></li>
            </ul>
        </li>
        <li><a href="#">Examples</a></li>
        <li><a href="#">Publish and distribute</a></li>
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="#">Troubleshooting</a></li>
    </ul>
</nav>
