<nav class="p-navigation--sidebar">
  {% sidebar_nav %}
</nav>

<script>

// Sidebar accordion sections
var sidenavButtons = document.querySelectorAll('.js-sidenav-button');
sidenavButtons.forEach(function(element) {
  element.addEventListener("click", function(e) {
    e.preventDefault();

    if (this.parentNode.nextSibling) {
      this.parentNode.classList.toggle("is-selected");
    }
  }, false);
});

// Sidebar menu overlay toggle
var mobileMenuBtns = document.querySelectorAll('.js-mobile-menu-btn');
mobileMenuBtns.forEach(function(element) {
  element.addEventListener("click", function(e) {
    e.preventDefault();

    this.classList.toggle("p-icon--close");
    this.classList.toggle("p-icon--menu");

    var sidebar = document.getElementById('sidebar');
    sidebar.classList.toggle("u-hide");
  });
});
</script>
